.tableColumn {
  width: 130px;
  text-align: center;
  text-transform: uppercase;
}
.widgetAssetInfo--image{
  margin-left: 5%;
  margin-top: 20%;
  user-select: none;
  position: absolute;

  width: 70px;
  height: 70px;
}
.widgetAssetInfo--values{
  text-align: center;
  margin-left: 180px;
  margin-top: -20px;
  font-size: 20px;
}
.widgetAssetInfo--values--variation{
  margin-top: -15px;
}
.widgetAssetInfo--others{
  margin-left: 150px;

}
.widgetAssetInfo--others table{
  border-collapse: separate;
}
.widgetAssetInfo--others tr{
  width: 120PX;
  height: 30px;
  
}
.widgetAssetInfo--others td{

  text-align: center;
}
.widgetAssetConversor--asset, .widgetAssetConversor--currency{
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  
}

.widgetAssetConversor input{
  font-size: 20px;
  width: 200px;
  height: 50px;
  margin-left: 5px;

  outline: none;
}
.widgetAssetConversor--asset img{
  margin-left: -10px;
  width: 48px;

}

.widgetAssetConversor h1{
 text-align: center;
 justify-content: center;
  
}

.emptyAsset{
  display: flex;
  height: 74px;
  width: 100%;
  text-align: center; 
  margin-top: calc(118px - 37px);
}
.emptyAsset--conversor{
  display: flex;
  height: 74px;
  width: 100%;
  text-align: center; 
  margin-top: calc(118px - 70px);
}