.modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}   

.assetTable {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;

    align-items: center;

}
.content{
    text-align: end;
    width: 100%;
    height: 90%;
    overflow: auto;
}
.tableName, .tableId{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.assetName, .assetId{
    padding-bottom: 10px;
    justify-content: center;
    margin-top: 5px;
    text-align: center;
    gap: 0;
}
