@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

li{
    list-style-type: none;
}
.sideBarContainer{
    z-index: 2;
}

 /* Closed side bar */
 .search p, .table p, .home p, .logout p{
    position: absolute;
    visibility: hidden;
    z-index: 20;
 }

.profile h3{
    display: flex;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    
    color: white;

    justify-content: center;
    padding-top: calc(50% - 25px);
}

a{
    display: flex;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
}

.searchImg{
    margin-left: calc(38px - 23.5px);
    margin-top: calc(35px - 20.5px);
    width: 34.97px;
    height: 40.94px;
    transform: rotate(-0.04deg);
    position: absolute;
}
.homeImg{
    width: 57px;
    height: 57px;
    position: absolute;
    margin-left: 4px;
    margin-top: 4px;
}
.tableImg{
    width: 48px;
    height: 50px;
    position: absolute;
    margin-left: 8px;
    margin-top: 8px;
}
button:hover{
    -webkit-filter: brightness(93%);   
}

.logoutImg{
    position: absolute;
    width: 57px;
    height: 67;

    transform: rotate(180deg);
} 


.search--active, .table--active, .home--active{
    display: flex;
    width: 200px;
    height: 70px;
    border-radius: 20px;
    border-style: none;
    background: #E7E5E5;

    margin-top: 56px;
    margin-left: 11px;

    transition: ease all 0.7s;
}
.search--active img{
    left: 17px;

}
.home--active img{
    left: 17px;
}
.table--active img{
    width: 48px;
    height: 50px;
}

.search--active p, .table--active p, .home--active p, .logout--active p{
    position: absolute;
    display: inline;
    z-index: 20;
    margin-left: calc(50% - 10px);
    margin-top: 25px;

    color: black;
    text-decoration: none;
    font-family: Roboto;
    font-size: 400;
    text-transform: uppercase;
    opacity: 0.7;
}
button{
    cursor: pointer;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }